<div class="main">
    <div class="center jumbotron py-5 text-center">
    <h1 class="fw-bold p-4 title">ゆぅちゃんの野菜畑</h1>
    <%= image_tag 'sample.jpeg', class: 'mt-5 main-visual', style: 'border-radius: 10%; width: 90%; height: 700px;' %>
    <div class="mt-5">
        <h2 class="topic">About</h2>
        <div>
            <p>
                こんにちは！はじめまして、ゆぅちゃんの野菜畑へようこそ！<br />
                皆さんの笑顔のために、日々野菜作りに取り組んでいきます！
            </p>
        </div>
    </div>
    </div>

    <div class="mt-5 justify-content-center">
        <h2 class="text-center topic">Pick Up</h2>
        <div class="container text-center pisition-relative">
            <div class="row d-flex justify-content-around mt-3">
                <div class="col">
                    <%= image_tag 'sample2.jpeg', class: 'sub-image', style: 'border-radius: 20%;', size: '500x400' %>
                </div>
                <div class="col">
                    <%= image_tag 'sample3.jpeg', class: 'sub-image', style: 'border-radius: 20%;', size: '500x400' %>
                </div>
            </div>
            <div class="text-center rounded-circle">
                <%= image_tag 'sample7.jpeg', class: 'sub-image', style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
            </div>
            <div class="row d-flex justify-content-around mt-2 pb-5">
                <div class="col">
                    <%= image_tag 'sample4.jpeg', class: 'sub-image', style: 'border-radius: 20%;', size: '500x400' %>
                </div>
                <div class="col">
                    <%= image_tag 'sample5.jpeg', class: 'sub-image', style: 'border-radius: 20%;', size: '500x400' %>
                </div>
            </div>
        </div>
    </div>
</div>